body{

	background-image: url('../slike/pozadina/background.jpg');
	background-attachment: fixed;
	background-color: #16181C;
	font-family: arial;
	color: #555555;
}

#navbar{
	z-index: 99;
	list-style-type: none;
	margin: 0px;
	background-color: #121212;
	position:fixed;
	top: 0;
	width: 100%;
	display: block;
	transition: top 0.5s;
	padding: 0px;
	box-shadow:10px 5px 5px rgba(0,0,0,0.4);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;

}
#navbar a{
	/*float: left;
	color: #C1C1C1;
	text-align: center;
	padding: 21px;
	text-decoration: none;
	font-size: 17px;
	padding-right: 80px;
	text-shadow: 3px 3px black;*/
	float: left;
	color: #C1C1C1;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	text-shadow: 3px 3px black;
	width: 180px;
	max-width: 48vw;
	padding-top: 20px;
	padding-bottom: 20px;

}



#navbar a:hover{
	text-shadow: 0 0 10px #FFFFFF;
}
#navbar a:active{
	text-shadow: 0 0 20px #FFFFFF;
}

.pan{
	/*
	margin-top: 40px;
	min-height: 90vh;
	min-width: 80vw;
	margin-bottom: 30px;
	*/
	/*
	margin-top: 10px;
	margin-left: 3vw;
	margin-right: 3vw;
	margin-bottom: 50px;
	*/
	margin:auto;
	margin-top: 10px;
	margin-bottom: 50px;

	max-width: 969px;


	box-shadow:20px 20px 20px rgba(0,0,0,0.6);
	background-color: #080808;
	border: 1px solid #161616;
	border-radius: 11px;
}
.centrirani{
	display: block;
	padding: 5vw;
	margin: auto;
	padding-top: 10vh;


}
.krugSlika{

	margin: auto;
	margin-top: 50px;
	height: 13vw;
	width: 13vw;
	min-width:200px;
	min-height:200px;


	border-radius: 50%;
}
.krugSlika img{

	filter: grayscale(20%);
	height: 13vw;
	width: 13vw;
	min-width:200px;
	min-height:200px;
	background-color: #262626;
	border: 6px solid #161616;
	border-radius: 50%;
}
.quickInfo{
	text-align: center;
	font-size: 23px;

}
#imePrezime{
	color: white;
}

.quickInfo .informacije{
	padding-top: 12px;
	font-size: 14px;
}

a:visited{
	color: #DA7645;
}

#skillovi{
	/*padding-left: 10%;
	padding-right: 10%;*/
	display: flex;
	flex-wrap: wrap;

}
.languages{
	display: inline-block;
	vertical-align: top;
	flex: 1;
	min-width: 330px;

	font-size: 16px;
	margin: 2px;
	padding: 5px;
	border: 1px solid #131313;
	border-radius: 10px;
	color: #898989;
	text-align: left;
}
.languages img{
	width: 16px;
	height: 16px;
	float: right;
	margin-left: 3px;
}
.languages i{
	font-size: 23px;
}
.languages .nabrajanje{
	padding-right: 4px;
}
.nabrajanje ol li{
	list-style-type: none;

	margin-top: 8px;
	background-color: #0B0B0B;
	list-style: square;
}
.progLanguages{
	display: inline-block;
	vertical-align: top;

	flex: 1;
	min-width: 200px;
	margin: 2px;

	font-size: 16px;
	padding: 5px;
	border: 1px solid #131313;
	border-radius: 10px;
	color: #898989;
	text-align: left;
}
.softveri{
	display:inline;
	vertical-align: top;
	flex: 1;
	min-width: 200px;
	margin: 2px;
	font-size: 16px;

	padding: 5px;
	border: 1px solid #131313;
	border-radius: 10px;
	color: #898989;
	text-align: left;
}
#proj{

	padding: 2%;
	padding-bottom: 100px;

}
#proj img{

	width: 30%;
	max-width: 300px;
	min-width: 100px;
	float: left;
	border-radius: 6px;
	margin-bottom: 10px;
}
#proj p{
	position: relative;
	bottom:4px;
	left: 10px;
	padding-left: 10px;
	padding-right: 2px;
	font-weight: 400;
	color: #919191;
}
.sekcija{
	display: block;
	clear: left;
	margin: 2px;
	padding: 6px;
	border-top: 1px solid #121212;
}
.granicnik{
	border-top:2px solid #141414;
	margin:20px;
	clear: both;
}
#foot{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	min-width: 100%;
	margin: 0px;
	font-size: 20px;
	margin-top: 200px;
}
#foot a{
	color: #666666;
}
#foot a:visited{
	color: #444444;
}
.socijalneIkone i{
	font-size: 40px;
	padding: 6px;

}
.socijalneIkone{

	min-width: 300px;
	margin: 15px;
}
.kontaktForma{

}
.kontaktForma fieldset{


	margin: 20px;
	border: 2px solid #24242d !important;
	max-width: 40%;

}
.kontaktForma input{
	color: grey;
	background-color: transparent !important;
	border:none !important;
	margin: 6px;
}
.kontaktForma textarea{
	color: grey;
	background-color: transparent !important;
	font-size: 18px;
	border:1px solid #0D0D0D !important;
}

.vracajNaHome{
	width: 100%;
	text-align: center;
	color: #343434;
	margin: 20px;
}
.vracajNaHome a:visited{

	color: #343434;

}

.blog{
	text-indent: 30px;
	text-align: justify;
	text-justify: inter-word;
	padding-left: 5%;
	padding-right:5%;
	color: #555555;


}
.blog img{
	padding-left: 10px;
	padding-top: 10px;
	display: block;
	width: 200px;
	margin: 10px;
	background-color: #111111;
	border-radius: 20px;
}
.blog iframe{
	margin-top: 5%;
}
.blog table{
	width: 100%;
	background-color: #111111;
	border-collapse: collapse;
	border-width: 2px solid #151100;
	color: grey;
	margin-bottom: 5%;
	text-align: center;
	border-radius: 20px;
}
.blog table td, .blog table th{
	padding: 4px;

}
.blog a{
	text-decoration: none !important;
	color: #444444;
}
.gal a h2{
	text-align: center !important;
	text-decoration: none !important;
	color: #444444;

}
.gal a{
	text-align: center !important;
	text-decoration: none !important;
	color: #444444;

}
.gall1{
	padding: 1%;
	clear: both;
}
.gall1 img{
	width: 30%;
}
.gall1 p{
	float: right;

}
.boot{
	display: flex;
	flex-flow: row wrap;
}
.viddiv{
	margin: 1%;
	flex: 1 1 200px
}
