body{

	background-image: url('../slike/pozadina/background.jpg');
	background-color: #16181C;
}

#navbar{
	list-style-type: none;
	margin: 0px;
	background-color: #121212;
	position:fixed;
	top: 0;
	width: 100%;
	display: block;
	transition: top 0.5s;
	padding: 0px;
	box-shadow:10px 5px 5px rgba(0,0,0,0.4);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;

}
#navbar a{
	/*float: left;
	color: #C1C1C1;
	text-align: center;
	padding: 21px;
	text-decoration: none;
	font-size: 17px;
	padding-right: 80px;
	text-shadow: 3px 3px black;*/
	float: left;
	color: #C1C1C1;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	text-shadow: 3px 3px black;
	width: 180px;
	max-width: 48vw;
	padding-top: 20px;
	padding-bottom: 20px;

}



#navbar a:hover{
	text-shadow: 0 0 10px #FFFFFF;
}

.pan{
	/*
	margin-top: 40px;
	min-height: 90vh;
	min-width: 80vw;
	margin-bottom: 30px;
	*/
	/*
	margin-top: 10px;
	margin-left: 3vw;
	margin-right: 3vw;
	margin-bottom: 50px;
	*/
	margin:auto;
	margin-top: 10px;
	margin-bottom: 50px;

	max-width: 969px;


	box-shadow:20px 20px 20px rgba(0,0,0,0.6);
	background-color: #080808;
	border: 1px solid #161616;
	border-radius: 11px;
}
.centrirani{
	display: block;
	padding: 5vw;
	margin: auto;
	padding-top: 10vh;


}
.krugSlika{
	margin: auto;
	margin-top: 50px;
	height: 13vw;
  width: 13vw;
	min-width:200px;
	min-height:200px;
	background-color: #262626;
	border: 6px solid #161616;
	border-radius: 50%;
}
.quickInfo{
	text-align: center;
	font-size: 23px;

}
#imePrezime{
	color: white;
}
#foot{
	min-width: 100%;
	margin: 0px;
	margin-top: 50px;
}
.quickInfo .informacije{
	padding-top: 12px;
	font-size: 14px;
}

a:visited{
	color: #DA7645;
}

#skillovi{
	/*padding-left: 10%;
	padding-right: 10%;*/
	display: flex;
	flex-wrap: wrap;

}
.languages{
	display: inline-block;
	vertical-align: top;
	flex: 1;
	min-width: 330px;

	font-size: 16px;
	margin: 2px;
	padding: 5px;
	border: 1px solid #131313;
	border-radius: 10px;
	color: #898989;
	text-align: left;
}
.languages img{
	width: 16px;
	height: 16px;
	float: right;
	margin-left: 3px;
}
.languages i{
	font-size: 23px;
}
.languages .nabrajanje{
	padding-right: 4px;
}
.nabrajanje ol li{
	list-style-type: none;

	margin-top: 8px;
	background-color: #0B0B0B;
	list-style: square;
}
.progLanguages{
	display: inline-block;
	vertical-align: top;

	flex: 1;
	min-width: 200px;
	margin: 2px;

	font-size: 16px;
	padding: 5px;
	border: 1px solid #131313;
	border-radius: 10px;
	color: #898989;
	text-align: left;
}
.softveri{
	display:inline;
	vertical-align: top;
	flex: 1;
	min-width: 200px;
	margin: 2px;
	font-size: 16px;

	padding: 5px;
	border: 1px solid #131313;
	border-radius: 10px;
	color: #898989;
	text-align: left;
}
